<div class="container">
    <div class="header">
        <img src="../../assets/images/AQME.jpg" width="100" height="100" alt="logoAQME">
        <img src="../../assets/images/Me(21).jpg" width="100" height="100" alt="logoMagic">
        <h1>AQME Soluciones / Magic Engineering</h1>
        <ul class="menu">
            <li>
                <a href="#">Quienes somos</a>
            </li>
            <li>
                <a href="#">Nuestros servicios</a>
            </li>
            <li>
                <a href="#">Cursos, capacitaciones y mas</a>
            </li>
            <li>
                <a href="#">¡Contactanos!</a>
            </li>
        </ul>
    </div>

    <div class="body-who">
        <h2>¿Quienes somos?</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quae enim deleniti repudiandae illo ipsam
            animi iste, recusandae voluptatibus, a illum sed laudantium dolorem deserunt? Animi quae soluta fugit
            asperiores!
        </p>
        <img src="../../assets/images/" alt="fotochambeacion1">
    </div>

    <div class="body-services">
        <h2>Nuestros servicios</h2>
        <img src="images/" alt="fotochambeacion2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum excepturi similique, iste beatae sint
            doloremque dolorem quibusdam nisi doloribus est quis nobis nam itaque neque alias libero officiis
            laboriosam. Ea.
        </p>
    </div>

    <div class="body-courses">
        <h2>Cursos, capacitaciones y mas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum doloremque voluptatibus porro minus
            recusandae at atque consequatur vitae, impedit blanditiis quae similique esse dolore magnam placeat
            dolorem sunt eaque!
        </p>
        <img src="images/" alt="fotos cursos">
    </div>

    <div class="body-contact">
        <h2>¡Contactanos!</h2>
        <img src="images/" alt="whatsapp logo">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia vitae a alias praesentium repudiandae
            maiores, laborum blanditiis beatae nostrum repellat laboriosam aut? Cumque dignissimos commodi
            reprehenderit explicabo, dolorum natus sunt.
        </p>
    </div>

    <div class="footer">
        <ul class="footer-menu">
            <li>
                <a href="fb">Facebook</a>
            </li>
            <li>
                <a href="lk">LinkedIn</a>
            </li>
            <li>
                <a href="ws">Whatsapp</a>
            </li>
            <li>
                <a href="Email">Email</a>
            </li>
        </ul>
    </div>

</div>